<main>

  <h1>Ben Firshman</h1>

  <p>I'm working on <a href="https://replicate.com">Replicate</a>. Some other stuff I've done:</p>

  <ul>
    <li>I created <a href="https://github.com/replicate/cog">Cog</a>, containers for machine learning.</li>
    <li>I created the <a href="https://clig.dev">Command Line Interface Guidelines</a>.</li>
    <li>I created <a href="https://github.com/docker/compose">Docker Compose</a> and <a href="https://github.com/docker/machine">Docker Machine</a>.</li>
    <li>I created <a href="https://github.com/bfirsh/jsnes">JSNES</a>, one of the first JavaScript emulators.</li>
    <li>I created <a href="https://github.com/whalebrew/whalebrew">Whalebrew</a>, a Docker package manager.</li>
    <li>I created <a href="https://www.arxiv-vanity.com/">arXiv Vanity</a>, which rendered papers from arXiv as responsible web pages.</li>
    <li>I worked on <a href="https://gov.uk">GOV.UK</a>, <a href="https://www.youtube.com/watch?v=53ZJdJNsBto">The Guardian's iPad app</a>, <a href="https://www.thisismyjam.com">This Is My Jam</a>, <a href="https://en.wikipedia.org/wiki/Lanyrd">Lanyrd</a>, and <a href="https://spacelog.org">Spacelog</a>.</li>
    <!-- <li>I've started four startups of varying degrees of success.</li> -->
    <!-- <li>I created Epio. It was Heroku for Python before Heroku was Heroku for Python.</li> -->
    <li>I worked on many parts of <a href="https://www.djangoproject.com/">Django</a>, including class-based views, feeds, and search.</li>
    <li>I started the <a href="https://ukhas.org.uk/">UK High Altitude Society</a>, a group for amateur near-space exploration.</li>
    
  </ul>

  <p>Email me at <a href="mailto:ben@firshman.com">ben@firshman.com</a>.<br>
    I'm also on <a href="https://x.com/bfirsh">X</a>, <a href="https://github.com/bfirsh">GitHub</a>, and <a href="https://www.linkedin.com/in/bfirsh/">LinkedIn</a>.</p>

  <hr />
</main>
